.console {
  display: grid;
  grid-template-columns: 20% 29% 2% 29% 20%;
  grid-template-rows: repeat(10, 1fr);
  height: 40vw;
  width: 30vw;
  border: 2px solid black;
  border-radius: 50% / 60% 60% 40% 40%;
  margin: 20vw auto;
}

.vindicator {
  display: grid;
  grid-column: 2 / 5;
}

.indicator {
  height: 2vw;
  width: 2vw;
  border: 2px solid black;
  border-radius: 100%;
  margin: auto;
}

.ic {
  background-color: yellow;
}

.status {
  height: 80%;
  width: 80%;
  border: 2px solid black;
  border-radius: 1vw;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  align-self: center;
  margin: auto;
  margin-bottom: 2%;
  background: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5vw;
  overflow: hidden;
}

.screen {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  height: 100%;
  width: 100%;
  margin-top: 8%;
  border: 2px solid black;
  border-radius: 1vw;
  grid-column: 2 / 5;
  grid-row: 3 / 7;
}

.buttonPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  width: 90%;
  /* border: 2px solid black; */
  grid-column: 2 / 5;
  grid-row: 8 / 10;
  margin: auto;
  margin-top: 0;
}

.buttonPanel2 {
  display: grid;
  grid-template-rows: 32% 34% 32%;
  height: 90%;
  width: 90%;
  /* border: 2px solid black; */
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  margin: auto;
  margin-top: 0;
}

.button {
  height: 4vw;
  width: 4vw;
  border: 2px solid black;
  border-radius: 100%;
  margin: auto;
}

.one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: red;
}

.two {
  grid-row: 2 / 3;
  margin-top: 25%;
  background-color: lightgrey;
}

.three {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding-bottom: ;
}

.reset {
  height: 15%;
  width: 100%;
  border: 1px solid black;
  border-radius: 100%;
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  margin: auto;
}
