.header {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
  heigth: 14vw;
  width: 100%;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  font-size: 1.8vw;
  background-color: #f79226;
}

.header .left {
  grid-column: 1 / 2;
  border-right: 1px solid black;
  text-align: right;
  padding-right: 2vw;
}

.header .right {
  grid-column: 7 / 8;
  border-left: 1px solid black;
  padding-left: 2vw;
}

.footer {
  display: grid;
  grid-template-columns: repeat(7, 1fr)
  heigth: 14vw;
  width: 100%;
  padding-top: 1.7vw;
  padding-bottom: 1.7vw;
  font-size: 1.8vw;
  background-color: #f79226;
  margin-top: 8%;
}

.footer .left {
  grid-column: 1 / 2;
  text-align: right;
  border-right: 1px solid black;
  padding-right: 2vw;
}

.footer .right {
  grid-column: 7 / 8;
  border-left: 1px solid black;
  padding-left: 2vw;
}


.bck {
  height: 66vw;
  background-image: url(../img/image_1024.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  margin-top: 0;
  background-position: fixed;
}

.page {
  padding-top: 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 55vw;
  width: 100vw;
  /* background-color: #7bd0ad; */
}

.ext {
  height: 100vh;
  width: 100%;
  margin-top: 9%;
  background-color: #8dcec2;
  padding-top: 10vh;
}

.console {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  display: grid;
  grid-template-columns: 20% 29% 2% 29% 20%;
  grid-template-rows: repeat(10, 1fr);
  height: 40vw;
  width: 30vw;
  border: .2vw solid black;
  border-radius: 50% / 60% 60% 40% 40%;
  margin: auto;
  margin-top: .7vw;
  background-color: #DD7373
}

.vindicator {
  display: grid;
  grid-column: 2 / 5;
}

.indicator {
  height: 2vw;
  width: 2vw;
  border: .2vw solid black;
  border-radius: 100%;
  margin: auto;
  margin-top: 2vw;
}

.ic {
  background-color: rgb(255, 231, 231);
}

.status {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(7, 1fr);
  height: 55%;
  width: 105%;
  border: .2vw solid black;
  border-radius: 1vw;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  align-self: center;
  margin: auto;
  margin-top: 8%;
  margin-left: -.644vw;
  background: #e7fded;
  /* font-family: 'Press Start 2P', cursive;
  text-align: center;
  overflow: hidden;
  font-size: 1.15vw;
  padding-top: .75vw; */
}

.prog {
 heigth: 120%;
 width: 100%;
 border: 1px solid black;
}

.pOne {
  grid-column: 1 / 2;
}
.pTwo {
  grid-column: 2 / 3;
}
.pThree {
  grid-column: 3 / 4;
}
.pFour {
  grid-column: 4 / 5;
}
.pFive {
  grid-column: 5 / 6;
}
.pSix {
  grid-column: 6 / 7;
}
.pSeven {
  grid-column: 7 / 8;
}
.screen {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  grid-template-rows: repeat(30, 1fr);
  height: 19vw;
  width: 19vw;
  margin: auto;
  margin-top: 8%;
  margin-left: -.644vw;
  border: .2vw solid black;
  border-radius: 1vw;
  overflow: hidden;
  grid-column: 2 / 5;
  grid-row: 3 / 7;
}

.buttonPanel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 90%;
  width: 90%;
  /* border: .2vw solid black; */
  grid-column: 2 / 5;
  grid-row: 8 / 10;
  grid-column-gap: 2vw;
  margin: auto;
  margin-left: .25vw;
  margin-top: 8%;
  margin-bottom: 0;
}

.buttonPanel2 {
  display: grid;
  grid-template-rows: 32% 34% 32%;
  height: 90%;
  width: 90%;
  /* border: .2vw solid black; */
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  margin: auto;
  margin-top: 8%;
  margin-bottom: 0;
}

.button {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  height: 4vw;
  width: 4vw;
  border: .2vw solid black;
  border-radius: 100%;
  margin: auto;
  padding-bottom: -1vw;
}

.buttChar {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  text-align: center;
  line-height: 1.7vw;
  font-size: 1.2vw;
  font-family: 'Press Start 2P', cursive;
}

.one {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  background-color: #c0bbdc;
}

.two {
  grid-row: 1 / 2;
  background-color: #EAD94C;
  margin-left: -.1vw;
}

.three {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #51A3A3;
}

.reset {
  height: 1vw;
  width: 1vw;
  border: 1px solid black;
  border-radius: 100%;
  grid-column: 3 / 4;
  grid-row: 10 / 11;
  margin: auto;
  margin-bottom: 3vw;
  margin-left: -.3vw;
  background-color: #c73030;
}

.instTogBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.instTog {
  margin: auto;
  margin-top: 5.8vw ;
  margin-bottom: -2vw;
  grid-column: 2 / 3;
  border: .2vw solid black;
  height: 3vw;
  width: 16vw;
  padding: .6vw;
  text-align: center;
  line-height: 1.7vw;
  font-size: 1.2vw;
  font-family: 'Press Start 2P', cursive;
  border-radius: 1vw;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.start {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: auto;
  margin-top: 5vw;
  font-size: 1.2vw;
  padding: .6vw;
  padding-top: 1vw;
  height: 1.8vw;
  width: 8vw;
  border: .2vw solid black;
  border-radius: 1vw;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.startButton {
  text-align: center;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
}

.statusInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.statusInfoCon {
  grid-column: 3 / 4;
  margin-right: -3vw;
  height: 5.3vw;
  width: 24vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.eggInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 5vw;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.eggInfoCon {
  height: 11.1vw;
  width: 25vw;
  margin-top: 6vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.indicInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-left: -3vw;
}

.indicInfoCon {
  grid-column: 1 / 2;
  height: 5.3vw;
  width: 24vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.buttonInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.buttonInfoCon {
  grid-column: 3 / 4;
  height: 7vw;
  width: 15vw;
  margin-right: -2.3vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.resetInfo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.resetInfoCon {
  grid-column: 1 / 2;
  height: 8vw;
  width: 15vw;
  margin-left: -2.3vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.story {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.storyCon {
  height: 9.5vw;
  width: 25vw;
  grid-column: 3 / 4;
  margin-left: 5vw;
  margin-top: 6.5vw;
  border: .2vw solid black;
  border-radius: 1vw;
  padding: .6vw;
  padding-top: 1vw;
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.6vw;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(255, 231, 231);
  opacity: .7;
}

.instCo {
  border: .2vw solid white;
  color: white;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000; /*color of your choosing*/
    text-decoration: none;
    font-weight: normal;
}
